# App
APP_PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5434
DB_USERNAME=postgres
DB_PASSWORD=1234
DB_NAME=iPOS_DB
DB_SYNC=true

JWT_SECRET=iBritt_iPos_SuperSecretKey
FRONTEND_URL=http://localhost:5174
ENCRYPTION_KEY=69140e49a599a1027ad1a4362aacfe44eda4d9b8a166a55acae1f689027bf0ba